@font-face {
  font-family: "iconfont"; /* Project id 3701081 */
  src: url('iconfont.woff2?t=1665756089585') format('woff2'),
       url('iconfont.woff?t=1665756089585') format('woff'),
       url('iconfont.ttf?t=1665756089585') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nbiconmenu:before {
  content: "\e630";
}

.nbicongengduo:before {
  content: "\e73a";
}

.nbiconfanhui:before {
  content: "\e602";
}

.nbicongouwuchekong:before {
  content: "\e600";
}

.nbiconwode:before {
  content: "\e601";
}

.nbiconshouye:before {
  content: "\e62e";
}

.nbiconfenlei:before {
  content: "\e811";
}

